name: Release & Verify

on:
  push:
    tags: ['v*']
  workflow_dispatch:
    inputs:
      release_name:
        description: 'Release name'
        required: true

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  release-joule-token:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name || inputs.release_name }}-joule-token
      package: joule-token
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}

  release-rebalancer:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name || inputs.release_name }}-rebalancer
      package: rebalancer
    secrets:
      release_token: ${{ secrets.GITHUB_TOKEN }}
