name: Release & Verify

on:
  push:
    tags: ['v*']
  workflow_dispatch:
    inputs:
      release_name:
        description: 'Release name'
        required: true

jobs:
  release-joule-token:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name || inputs.release_name }}
      package: joule-token
      relative_path: contracts/joule-token
    permissions:
      id-token: write
      contents: write
      attestations: write

  release-rebalancer:
    uses: stellar-expert/soroban-build-workflow/.github/workflows/release.yml@main
    with:
      release_name: ${{ github.ref_name || inputs.release_name }}
      package: rebalancer
      relative_path: contracts/rebalancer
    permissions:
      id-token: write
      contents: write
      attestations: write
